<nav class="pv2 pv1-ns ph3 ph4-ns hover-bg-primary-colorTK transition" role="navigation">
  <div class="flex-l justify-between items-start center white mw9">
    <h1>
      <a href="/" class="dim f2 no-underline color-inherit dib">
        {{/* Steve Bacher <span class="f4">for</span> Congress */}}
        {{/* <img src="/uploads/tes8.svg" class=""/> */}}
        <img src="{{"/uploads/SBacker-logo-white-blue.png" | absURL}}" class="nb2 h3"/>
      </a>
    </h1>
    <div class="flex-l items-center">
      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3">
          {{ range .Site.Menus.main }}
          <li class="list f5 f3-ns font-family-brand fw4 dib pr2 pr3-ns">
            <a class="dim no-underline color-inherit" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      <div class="absolute relative-ns top-0 right-0"> 
        {{ partial "social-follow.html" . }}
      </div>

    </div>
  </div>
</nav>
