

<nav class="pv2 pv1-ns ph3 ph4-ns hover-bg-primary-colorTK transition" role="navigation">


  <div class="flex-l items-center justify-between center white mw9">
  <div class="flex-l items-center justify-between"> 
  <h1>
    <a href="/" class="dim f2 no-underline color-inherit dib">
      {{/* Steve Bacher <span class="f4">for</span> Congress */}}
      {{/* <img src="/uploads/tes8.svg" class=""/> */}}
      <img src="{{"/uploads/SBacker-logo-white-blue.png" | absURL}}" class="nb2 h3" alt="Steve Bacher for Congress Logo"/>
    </a>
  </h1>

  {{ if .Site.Menus.main }}
    <ul class="pl0 mr3 white pv0 ml5-l">
      {{ range .Site.Menus.main }}
      <li class="list f5 f6-ns font-family-brand fw4 dib pr2 pr3-ns ttu pv0">
        <a class="dim no-underline color-inherit" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  {{ end }}
</div>

    <div class="flex-l items-center">
      {{ if .Site.Menus.cta }}
        <ul class="pl0 mr3 ttu">
          {{ range .Site.Menus.cta }}
          <li class="list f5 f4-ns font-family-brand fw4 dib pr2 pr3-ns">
            <a class="dim no-underline color-inherit" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{with .Site.Params.donate_link}}
      <a href="{{.}}" class="f5 b link br2 ph3 pv2 db dib-l white bg-accent-color hover-bg-white hover-black mr4-l">DONATE</a>
      {{end}}

      <div class="absolute relative-ns top-0 right-0"> 
        {{ partial "social-follow.html" . }}
      </div>

    </div>
  </div>
</nav>
{{/* <div class="w-100 flex justify-end bg-primary-color-dark"> 
{{ if .Site.Menus.main }}
  <ul class="pl0 mr3 white pv0">
    {{ range .Site.Menus.main }}
    <li class="list f5 f6-ns font-family-brand fw4 dib pr2 pr3-ns ttu pv0">
      <a class="dim no-underline color-inherit" href="{{ .URL }}" title="{{ .Name }} page">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
{{ end }}
</div> */}}
