{{/* Get the current page's URL so we can compare it to the list below */}}
{{ $currentPageUrl := .URL }}
<aside class="bg-inherit">
  <ul class="pa0">
    {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
      <li class="list f3 b mb3 ph3 ph4-ns color-inherit">
        {{ title $key }}
      </li>
      {{ range $taxonomy.Pages }}
        <li class="list f5 w-100 hover-bg-white">
          <a href="{{ .RelPermalink }}" class="f5 link ph3 ph4-ns pv2 db hover-white hover-bg-primary-color color-inherit{{ if eq $currentPageUrl .RelPermalink }} o-50{{end}}">
            {{ .LinkTitle }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{end}}
</aside>
