<blockquote class="ma0 nested-copy-line-height mb5">
  <div class="flex flex-wrap">
    {{ with .Params.images }}
    <div class="w-100 w-third">
      <img src="{{ index . 0 }}" alt="" class="mw-100">
    </div>
    <div class="w-two-thirds f4">
      {{- $.Content -}}
    </div>
    {{ else }}
      <div class="">
        {{- .Content -}}
      </div>
    {{ end }}

  </div>
  <footer class="f4 mt4 b">
    {{ with  .Params.attribution }}— {{- . -}}{{ end }}
    {{ partial "articles/link-to-original.html" (dict "item" .)}}
  </footer>
</blockquote>
