{{ define "main" }}

<div class="flex-ns flex-wrap"> 
  <div class="f3 f2-l ba1 br2 o-90 b--light-gray bg-white lh-copy dib  nt5-ns pt2 pb5 ph4 ml4-ns primary-color-dark"> 
  {{.Site.Params.home_page_quote | safeHTML}}
  </div>

  <article id="contact" class="cf ph3 ph5-l pv3 pv4-l f4 center measure-wide lh-copy mid-gray">
    <h2>Latest News</h2>
    {{range first 3 (where .Site.RegularPages "Section" "news")}}
      <div class="relative w-100 mb5 bg-white pa4">
        {{ partial "summary.html" (dict "item" . )}}
        <a href="{{.URL}}" class="dim f7 link red">read more &raquo;</a>
      </div>
    {{ end }}


  </article>


  <div class="ba1 b--light-gray bg-primary-color dib pt2 pb5 ph4 white w-100"> 
    <div class="w-90 center"> 
      {{partial "newsletter-signup.html" .}}
    </div>
  </div>

</div>

{{ end }}
