{{ define "main" }}

<div class="flex-ns flex-wrap"> 
  <div class="f2 ba1 br2 o-90 b--light-gray bg-primary-color dib nt5 pt2 pb5 ph4 ml4-ns white"> 
    <p class="fw7 font-family-brand pa0 mb2 mt0 ph0">
      Sign up to get updates from Steve
      </p>
      <!-- Begin Constant Contact Inline Form Code -->
      <div class="ctct-inline-form" data-form-id="5bd5c183-577a-44ea-9883-eeccee28b0a5"></div>
      <!-- End Constant Contact Inline Form Code -->
  </div>

  <article id="contact" class="cf ph3 ph5-l pv3 pv4-l f4 center measure-wide lh-copy mid-gray">
    <h2>Latest News</h2>
    {{range first 3 (where .Site.RegularPages "Section" "news")}}
      <div class="relative w-100 mb5">
        {{ partial "summary.html" (dict "item" . )}}
      </div>
    {{ end }}


  </article>

</div>

{{ end }}
