
{{if ne .URL "/join-the-team/"}}
<div class="ba1 b--light-gray bg-primary-color dib pt2 pb5 ph4 white w-100"> 
  <div class="w-90 center"> 
    {{partial "newsletter-signup.html" .}}
  </div>
</div>
{{end}}
<footer class="bottom-0 w-100 mt6 pa4 {{$.Param "styles.footer"}}" role="contentinfo">
  <div class="flex-ns justify-between items-center">
    <div class="flex items-center">
      <a class="f7 fw4 hover-white no-underline ph3 sans-serif text-color-secondary" href="{{ .Site.BaseURL }}" >
        &copy; {{ now.Format "2006" }} {{ .Site.Params.title_footer }}
      </a>

      <div class="f7 mr3">{{.Site.Params.address_footer | safeHTML }}</div>
      {{ partial "social-follow.html" . }}


    </div>
    {{with .Site.Params.copy_footer}}
      <div class="f6 ba b--gray ph2 ph3-ns pv2 w-100 w-auto-ns"> 
        {{.}}
      </div>
    {{end}}
    <a class="dn dib-ns f7 fw4 hover-gray no-underline ph3 pv2 sans-serif text-color-secondary" href="/privacy-policy/" >
      Privacy Policy
    </a>
  </div>
</footer>
