{{/* {{$scripts := readDir  (.Site.Params.styles.js_path | default "/layouts-base/tnd-base-layouts/static/dist/js")}}
{{range $scripts}}
  <script src="{{.Name  | add "/dist/js/" | relURL }}" async></script>
{{end}} */}}
<!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "672e05335200985db9f48400507f3a4a"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->
